@font-face {
  font-family: "Gotham-Narrow-Book";
  src: url(../fonts/Gotham-Narrow-Book.otf);
}
@font-face {
  font-family: "rosettaicons";
  src: url(../fonts/rosetta-icons-regular.ttf);
}
*{
  box-sizing: border-box;
  font-family: "Gotham-Narrow-Book";
}
body{
  margin: 0 auto;
}
/*Header*/
header{
  top: 0;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  position: fixed;
  border-bottom: 1px solid #ccd6dd;
  background-color: white;
  z-index: 1000;
}
header ul{
  display: inline-block;
}
nav{
  width: 1270px;
  overflow: hidden;
  margin: 0 auto;
  color: #66757f;
}
nav ul li{
  list-style: none;
  display: inline-block;
  font-size: 14px;
}
.nav-left{
  margin: 5px 0;
  float: left;
}
.nav-left li{
  margin-right: 20px;
  margin-bottom: 0;
}
.nav-left span{
  margin-right: 3px;
  margin-left: 8px;
  display: inline-block;
  font-size: 15px;
  position: relative;
  top: 5px;
}
.nav-right{
  margin-top: 2px;
  float: right;
  margin-right: 58px;
}
.nav-right li{
  margin-right: 8px;
}
.nav-right li:nth-child(1){
  position: relative;
}
.input-search{
  display: inline-block;
  border: 1px solid #e6ecf0;
  border-radius: 21px;
  height: 32px;
  font-size: 12px;
  width: 200px;
  position: relative;
  top: -7px;
}
.input-search::placeholder{
  color: #657786;
}
.icon-search{
  position: absolute;
  top: -2px;
  right: 0;
  color: #66757f;
  font-weight: bold;
}
.avatar-circle{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin: 0 6px;
}
.up-case{
  text-transform: uppercase;
}
a.icon-twitter{
  text-align: center;
  margin-top: 10px;
  margin-left: 260px;
  display: inline-block;
  font-size: 20px;
  color: #1da1f2;
}
.icon{
  font-family: "rosettaicons";
  display: inline-block;
}
.color{
  color: #cc3366;
}
.icon-search{
  background: none;
  border: none;
}
.icon-pluma{
  width: 100px;
  height: 32px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #cc3366;
  border: none;
  color: white;
  opacity: 0.8;
}
.icon-pluma span{
  margin-left: 4px;
  font-size: 13px;
  display: inline-block;
  position: relative;
  top: -6px;
}
/*Icons header*/
.icon-home::before{
  content: "\f053";
  font-size: 21px;
}
.icon-notification::before{
  content: "\f055";
  font-size: 21px;
}
.icon-letter::before{
  content: "\f054";
  font-size: 21px;
}
.icon-pluma::before{
  content: "\f029";
}
.icon-search::before{
  content: "\f058";
}
.icon-twitter::before{
  content: "\f179";
}
section{
  padding: 0 345px;
  margin-top: 56px;
}
article{
}
a{
  text-decoration: none;
}
#left{
  float: left;
  position: relative;
  width: 290px;
  margin-left: 20px;
}
#center{
  display: inline-block;
  height: 500px;
  width: 590px;
  margin-left: 14px;
}
#rigth{
  float: right;
  width: 298px;
}
#left div{
  margin-bottom: 10px;
}
/*Section left*/
.info{
  padding-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e1e8ed;
}
.fondo{
  width: 289px;
  height: 96px;
}
.name{
  margin-left: 95px;
  line-height: 0.2;
}
.name h2{
  margin: 15px 5px 2px 0;
  display: inline-block;
}
.avatar{
  width: 72px;
  height: 72px;
  position: absolute;
  top: 73px;
  left: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
.tweets{
  margin: 10px;
}
.tweets p{
  font-size: 12px;
  letter-spacing: .02em;
  margin-bottom: 1px;
}
.tweets span{
  font-size: 18px;
  font-weight: 500;
  color: #cc3366;
}
.tweets div{
  float: left;
  margin-right: 25px;
}
.icon-protected{
 font-size:
}
.icon-protected::before{
  content: "\f096";
}
.trends{
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  padding: 4px 15px;
}
.trends h3{
  display: inline-block;
}
.change{
  font-size: 14px;
}
.item a{
  font-weight: bold;
  font-size: 15px;
}
.item p{
  line-height: 0.2;
  font-size: 13px;
}
div.item{
  margin-bottom: 20px;
}
/*Section center*/
.status{
  background-color: #F9EAEF;
  padding: 10px 20px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e1e8ed;
}
.status img{
  width: 32px;
  height: 32px;
  float: right;
  margin: 0 8px;
  margin-top: 3px;
}
.text-status{
  background-color: white;
  width: 490px;
  height: 38px;
  float: right;
  position: relative;
  padding: 8px;
  border: 1px solid #F2CCD8;
  border-radius: 5px;
}
.text-status input{
  height: 32px;
  position: absolute;
  top: 2px;
  width: 450px;
  border: none;
}
.text-status input::placeholder{
  color: #CC3366;
  font-size: 15px;
}
.text-status button{
  position: absolute;
  top: 3px;
  right: 2px;
  background: none;
  border: none;
  font-size: 20px;
  color: #CC3366;
  opacity: 0.8;
}
.icon-camera::before{
  content: "\f110";
}
.content-tweet{
  margin: 10px 0;
}
.tweet{
  padding: 10px 0;
  border: 1px solid #e1e8ed;
}
.content-tweet img{
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 10px;
}
.text-tweet{
  position: relative;
  font-size: 14px;
  line-height: 0.5;
  top: 4px;
}
.gray{
  color: #657786;
}
.text-tweet a{
  color: black;
  font-weight: bold;
}
.text-tweet p{
  display: inline-block;
}
.hashtag{
  color: #CC3366;
}
.enlace{
  display: block;
  margin: 0 auto;
  text-align: left;
  margin-top: 5px;
  margin-left: 50px;
}
.enlace button{
  border: none;
  background: none;
  margin-right: 40px;
  font-size: 17px;
  color: #657786;
}
.icon-flecha::before{
  content: "\f151";
}
.icon-re::before{
  content: "\f152";
}
